@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #ECE6C2;
    --primary-color: #6F5643;
    --secondary-color: #D2A24C;
    --third-color: #CC6B49;
    --fourth-color: #73BDA8;
  }

nav {
    .dekstop {
        a {
            @apply mx-5;
        }
    }
}

#icon-sosmed {
    svg {
        @apply my-5;
    }
}

.know-more {
    &__card {
        @apply bg-[white] w-2/3 mx-auto drop-shadow-2xl rounded-xl overflow-hidden;
    }
}

.about-us {
    &__founder {
        @apply grid grid-cols-4 gap-8;
        .people {
            @apply p-5 bg-[white] drop-shadow-2xl rounded-lg;
            img {
                @apply h-36 w-36 rounded-full mx-auto mb-6;
            }
            .messages {
                @apply text-center;
                .human {
                    .name {
                        @apply font-bold text-xl mt-4;
                    }
                }
            }
        }
    }
}